


.contact{
    padding: 100px  20px;
}
.form-title{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 52px;
    color: rgb(41, 36, 36);
    text-transform: capitalize;
    font-family: inherit;
}
.textarea input{
    width: 100%;
}